<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <faq>
            <general>
                <enabled>1</enabled>
                <faq_title>FAQ</faq_title>
                <enable_search>1</enable_search>
                <enable_sidebar>1</enable_sidebar>
                <enable_ask_question>1</enable_ask_question>
            </general>
        </faq>
    </default>
</config>
