<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="harriswebworks_faq_listing_data_source" xsi:type="string">Harriswebworks\FAQ\Model\ResourceModel\FAQ\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Harriswebworks\FAQ\Model\ResourceModel\FAQ\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">harriswebworks_faq</argument>
            <argument name="resourceModel" xsi:type="string">Harriswebworks\FAQ\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
</config>
