& when (@media-common =true) {


    .hww-faq-title {
        text-align: center;
        font-weight: bold;
    }

    /*Search Container*/
    #search-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 40px;
        width: 100%;

        /* Search Text Input */
        input {
            &.search-text {
                padding: 0 10px;
                border: 1px solid #ccc;
                border-radius: 0;
                width: 100%;
                height: 40px;
                width: calc(~"100% - 160px");

                &::placeholder {
                    color: #000;
                }

                &:focus{
                    box-shadow: none;
                }
            }
        }

        /* Search Button */
        .search-button {
            padding: 12px 25px;
            background-color: #818181;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 0;
            height: 40px;
            width: 160px;

            &:hover {
                border: 0;
            }
        }
    }


    .hww-faq-categories {
        vertical-align: top;
        display: block;
        text-transform: capitalize;
        border: 1px solid #E7E7E7;
        margin-bottom: 30px;


        h2 {
            &.hww-faq-category-title {
                font-size: 20px;
                font-weight: 700;
                background-color: #E7E7E7;
                margin: 0;
                padding: 15px 10px;
            }
        }

        /* Vertical Tab Styles */
        .hww-faq-category-list {
            list-style: none;
            padding: 0;
            margin: 0;

            .hww-faq-category-item {
                margin-bottom: 0;
                border-bottom: 1px solid #E7E7E7;

                .category-link {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #000;
                    text-transform: capitalize;
                    -webkit-transition: .3s;
                    -o-transition: .3s;
                    transition: .3s;
                    &:hover {
                        background-color: #f4f4f4;
                    }
                }

                &:last-child{
                    border-bottom: 0;
                }

                &.active {
                    .category-link {
                        background-color: #007BFF;
                        color: #fff;
                    }
                }

            }
        }
    }

    .hww-faq-all-category-sections {
        .hww-faq-category-section{
            border: 1px solid #d0d0d0;
            margin-bottom: 15px;

            .hww-faq-category-name {
                background-color: #E7E7E7;

                padding: 20px 10px;
                margin: 0;
                font-weight: 600;
            }
            .hww-faq-item-list{
                margin: 0;
                list-style: none;
                padding: 0;

                .hww-faq-item {
                    position: relative;
                    border-top: 1px solid #ddd;
                    margin-bottom: 0;
                    cursor: pointer;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 19px;
                        right: 10px;
                        background-image: url("../../images/up-arrow.png");
                        width: 16px;
                        height: 16px;
                        background-size: cover;
                        transition: 0.5s;
                    }

                    &.active {
                        &:after {
                            transform: rotate(180deg);
                            transition: 0.5s;
                        }
                    }

                    h3{
                        margin: 0;
                        padding: 15px 10px;
                        background-color: #f4f4f4;
                        transition: .3s;

                        &:hover{
                            background-color: #E7E7E7;
                        }

                        &.hww-faq-question {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 500;
                            padding-right: 25px;
                        }
                    }

                    .hww-faq-answer {
                        display: block;
                        padding: 10px 20px;
                        margin-bottom: 15px;
                        background-color: #f6f6f691;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .hww-faq-ask-question-section {
        display: inline-block;
        width: 100%;
    }

    .highlight {
        background-color: yellow;
    }

    .ask-btn-area {
        text-align: center;
        clear: both;

        .hww-faq-open-popup-button {
            border: 0;
            border-radius: 0;
            background-color: #000;
            color: #fff;
            padding: 10px 50px;
            font-size: 20px;
            line-height: 26px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            margin: 20px auto 0;

            &:hover{
                background-color: #818181;
                color: #fff;
                border: 0;
            }

        }
    }
    .faq-index-index {
        .modal-popup{
            .modal-inner-wrap{
                max-width: 700px;
                margin-top: 10%;

                .modal-title {
                    text-align: center;
                    font-weight: bold;
                    border-bottom: 0;
                }

                .hww-faq-form{
                    .hww-faq-label {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                    }
                    #category {
                        display: block;
                        margin: 10px 0 20px;
                    }

                    .hww-faq-submit-button{
                        border: 0;
                        border-radius: 0;
                        background-color: #000;
                        color: #fff;
                        padding: 10px 30px;
                        font-size: 16px;
                        line-height: 20px;
                        -webkit-transition: .3s;
                        -o-transition: .3s;
                        transition: .3s;
                        margin: 20px auto;

                        &:hover{
                            background-color: #818181;
                            color: #fff;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}


// Desktop.

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    #search-container{
        .search-button {
            padding: 12px 50px;
        }
    }

    .hww-faq-categories {
        width: 25%;
        display: inline-block;
    }

    .hww-faq-all-category-sections {
        width: 70%;
        margin-left: 30px;
        float: right;

        .hww-faq-category-section{

            .hww-faq-item-list{

                .hww-faq-item {
                    position: relative;
                    margin-bottom: 0;
                    cursor: pointer;

                    h3{

                        &.hww-faq-question {
                            font-size: 20px;
                            line-height: 1;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
}

//_______________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
}




// Mobile
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
}
