<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Harriswebworks_FAQ::faq" title="FAQ" translate="title" module="Harriswebworks_FAQ" sortOrder="50" resource="Harriswebworks_FAQ::faq" parent="Harriswebworks_Core::all" />
        <add id="Harriswebworks_FAQ::faq_menu" title="Article" translate="title" module="Harriswebworks_FAQ" parent="Harriswebworks_FAQ::faq" sortOrder="10" action="faq/index/index" resource="Harriswebworks_FAQ::faq"/>
    </menu>
</config>
